extends layouts/default

block content
    .tagline-upper.text-center.text-heading.text-shadow.text-white.mt-4.hidden-md-down.p-b-3 fancy coffee shit
    .tagline-lower.text-center.text-expanded.text-shadow.text-uppercase.text-white.mb-4.hidden-md-down everything you could ever want, nothing you actually needT

