
doctype html
html(lang="en")
  head
    meta(name="verifyownership" content="449a785a7d40c8abcd25e6e3547ae64a")
    meta(charset='utf-8')  
    meta(http-equiv='X-UA-Compatible', content='IE=edge')  
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')  
    meta(name='description', content='') 
    meta(name='author', content='')
    title Fancy Coffee Shit
    // Bootstrap Core CSS 
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Theme CSS   
    link(href='css/business-casual.css', rel='stylesheet')
    // Fonts 
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic', rel='stylesheet', type='text/css')
    // Temporary navbar container fix until Bootstrap 4 is patched
    style.
      -    /* Ugly hacks to fix the container within navbar functionality - should be fixed in Bootstrap 4 beta */
      -
      -    .navbar-toggler {
      -        z-index: 1;
      -    }
      -
      -    @media (max-width: 576px) {
      -        nav > .container {
      -            width: 100%;
      -        }
      -    }
      -    /* Temporary fix for img-fluid sizing within the carousel */
      -
      -    .carousel-item.active,
      -    .carousel-item-next,
      -    .carousel-item-prev {
      -        display: block;
      -    }
      -
    body
      block content
      footer.bg-faded.text-center.py-5
            .container
              p.m-0 Copyright &copy; Fancy Coffee Shit 2017
      // jQuery Version 3.1.1
      script(src='js/jquery.js')
      // Tether
      script(src='js/tether.min.js')
      // Bootstrap Core JavaScript
      script(src='js/bootstrap.min.js')
      // google analytics
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-92767625-2', 'auto');
        ga('send', 'pageview');


